body {
    background-image: url('../images/bg.png');
}
.site {
    padding: 20px;
    font-family: 'Holtwood One SC', sans-serif;
}
@font-face {
    font-family: 'HamburgerHeaven';
    src:url('../fonts/HamburgerHeaven.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HamburgerHeaven.woff2') format('woff2'),
        url('../fonts/HamburgerHeaven.woff') format('woff'),
        url('../fonts/HamburgerHeaven.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.text-logo {
    text-transform: uppercase;
    font-family: 'HamburgerHeaven', cursive;
    color: #e7480f;
    text-shadow: 2px 2px;
    font-size: clamp(30px, 7vw, 100px);
    padding: clamp(10px, 2vw, 20px) 0;
    text-align: center;
}
.text-logo span {
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
}
.sticky-top {
    background-color: #272626;
}
.navbar {
    margin-bottom: 40px;
    padding-top: 5px; 
    padding-bottom: 5px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M2 11h20v2H2zm0 6h20v2H2zm0-12h20v2H2z'/%3E%3C/svg%3E") !important;
    background-size: 100% 100%;
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5) !important; 
}
.nav-link {
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px #333;
    cursor: pointer;
}
.nav-link.active {
    background-color: #e7480f !important;
}
.nav-link:hover {
    color: #e7480f;
    background-color: #eee;
}
.img-thumbnail {
    position: relative;
    margin-bottom: 20px;
}
.img-thumbnail img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}
.img-thumbnail .price {
    background: #5cb85c;
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: -10px;
    top: 16px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}
.img-thumbnail .price:before {
    border: 4px solid transparent;
    border-bottom: 4px solid #4a934a;
    border-left: 4px solid #4a934a;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}
.img-thumbnail .caption {
    padding: 9px;
    background-color: #e0dfdc;
}
.img-thumbnail .caption h4 {
    color: #e7480f;
    font-size: 18px;
}
#tab1 .img-thumbnail .caption p {
    height: 70px;
}
#tab2 .img-thumbnail .caption p {
    height: 50px;
}
#tab3 .img-thumbnail .caption p {
    height: 30px;
}
#tab4 .img-thumbnail .caption p {
    height: 50px;
}
#tab5 .img-thumbnail .caption p {
    height: 30px;
}
#tab6 .img-thumbnail .caption p {
    height: 50px;
}
.img-thumbnail .btn-order {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #e7480f;
    text-shadow: 2px 2px #333;
}
.img-thumbnail .btn-order:hover, 
.img-thumbnail .btn-order:focus {
    color: #fff;
    background-color: #c13c0d;
}
/* ADMIN */
.admin {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}
.help-inline {
    color:red;
}
/* VIEW */
label {
    font-weight: bold;
    font-size: large;
}
#ItemDescription {
    font-size: xx-large;
}